<div class="buttons">
	<h2>Buttons</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-primary btn-xs">Default</button>
			<button type="button" class="btn btn-primary btn-sm">Default</button>
			<button type="button" class="btn btn-primary">Default</button>
			<button type="button" class="btn btn-primary btn-lg">Default</button>
			<button type="button" class="btn btn-primary disabled">Default</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-primary" data-element="background-color">
					<label for="sg-btn-default-bg-color">Background:</label>
					<input id="sg-btn-default-bg-color" data-selector=".style-guide .btn-primary" data-element="background-color" data-var="@btn-default-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-primary" data-element="border-color">
					<label for="sg-btn-default-border-color">Border:</label>
					<input id="sg-btn-default-border-color" data-selector=".style-guide .btn-primary" data-element="border-color" data-var="@btn-default-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-primary" data-element="color">
					<label for="sg-btn-default-text-color">Text:</label>
					<input id="sg-btn-default-text-color" data-selector=".style-guide .btn-primary" data-element="color" data-var="@btn-default-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-secondary btn-xs">Primary</button>
			<button type="button" class="btn btn-secondary btn-sm">Primary</button>
			<button type="button" class="btn btn-secondary">Primary</button>
			<button type="button" class="btn btn-secondary btn-lg">Primary</button>
			<button type="button" class="btn btn-secondary disabled">Primary</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-secondary" data-element="background-color">
					<label for="sg-btn-primary-bg-color">Background:</label>
					<input id="sg-btn-primary-bg-color" data-selector=".style-guide .btn-secondary" data-element="background-color" data-var="@btn-primary-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-secondary" data-element="border-color">
					<label for="sg-btn-primary-border-color">Border:</label>
					<input id="sg-btn-primary-border-color" data-selector=".style-guide .btn-secondary" data-element="border-color" data-var="@btn-primary-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-secondary" data-element="color">
					<label for="sg-btn-primary-text-color">Text:</label>
					<input id="sg-btn-primary-text-color" data-selector=".style-guide .btn-secondary" data-element="color" data-var="@btn-primary-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-success btn-xs">Success</button>
			<button type="button" class="btn btn-success btn-sm">Success</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-success btn-lg">Success</button>
			<button type="button" class="btn btn-success disabled">Success</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-success" data-element="background-color">
					<label for="sg-btn-success-bg-color">Background:</label>
					<input id="sg-btn-success-bg-color" data-selector=".style-guide .btn-success" data-element="background-color" data-var="@btn-success-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-success" data-element="border-color">
					<label for="sg-btn-success-border-color">Border:</label>
					<input id="sg-btn-success-border-color" data-selector=".style-guide .btn-success" data-element="border-color" data-var="@btn-success-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-success" data-element="color">
					<label for="sg-btn-success-text-color">Text:</label>
					<input id="sg-btn-success-text-color" data-selector=".style-guide .btn-success" data-element="color" data-var="@btn-success-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-info btn-xs">Info</button>
			<button type="button" class="btn btn-info btn-sm">Info</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-info btn-lg">Info</button>
			<button type="button" class="btn btn-info disabled">Info</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-info" data-element="background-color">
					<label for="sg-btn-info-bg-color">Background:</label>
					<input id="sg-btn-info-bg-color" data-selector=".style-guide .btn-info" data-element="background-color" data-var="@btn-info-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-info" data-element="border-color">
					<label for="sg-btn-info-border-color">Border:</label>
					<input id="sg-btn-info-border-color" data-selector=".style-guide .btn-info" data-element="border-color" data-var="@btn-info-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-info" data-element="color">
					<label for="sg-btn-info-text-color">Text:</label>
					<input id="sg-btn-info-text-color" data-selector=".style-guide .btn-info" data-element="color" data-var="@btn-info-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-warning btn-xs">Warning</button>
			<button type="button" class="btn btn-warning btn-sm">Warning</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-warning btn-lg">Warning</button>
			<button type="button" class="btn btn-warning disabled">Warning</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-warning" data-element="background-color">
					<label for="sg-btn-warning-bg-color">Background:</label>
					<input id="sg-btn-warning-bg-color" data-selector=".style-guide .btn-warning" data-element="background-color" data-var="@btn-warning-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-warning" data-element="border-color">
					<label for="sg-btn-warning-border-color">Border:</label>
					<input id="sg-btn-warning-border-color" data-selector=".style-guide .btn-warning" data-element="border-color" data-var="@btn-warning-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-warning" data-element="color">
					<label for="sg-btn-warning-text-color">Text:</label>
					<input id="sg-btn-warning-text-color" data-selector=".style-guide .btn-warning" data-element="color" data-var="@btn-warning-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<button type="button" class="btn btn-danger btn-xs">Danger</button>
			<button type="button" class="btn btn-danger btn-sm">Danger</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-danger btn-lg">Danger</button>
			<button type="button" class="btn btn-danger disabled">Danger</button>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".style-guide .btn-danger" data-element="background-color">
					<label for="sg-btn-danger-bg-color">Background:</label>
					<input id="sg-btn-danger-bg-color" data-selector=".style-guide .btn-danger" data-element="background-color" data-var="@btn-danger-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-danger" data-element="border-color">
					<label for="sg-btn-danger-border-color">Border:</label>
					<input id="sg-btn-danger-border-color" data-selector=".style-guide .btn-danger" data-element="border-color" data-var="@btn-danger-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".style-guide .btn-danger" data-element="color">
					<label for="sg-btn-danger-text-color">Text:</label>
					<input id="sg-btn-danger-text-color" data-selector=".style-guide .btn-danger" data-element="color" data-var="@btn-danger-color" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>
</div>
