// $Id$ Darkroom theme custom-other.less file.

$imagePath: "../images/";
//body {
//	background-image: url('#{$imagePath}bg.jpg');
//}
$topmodules-row-margin-bottom: 15px;

body,
body.fullscreen {
	background-image: url('#{$imagePath}474747_5e5e5e_40.png');
}

.container {
	background: #0c0c0c;
}

body.layout_social > .container {
	padding-top: 1.2rem;
}

#col1 {
	background: #3F3F3F;
	border-left: 10px solid #0c0c0c;
	border-right: 10px solid #0c0c0c;
	padding-bottom: 10px;
}

// /* Background for CkEditor */
.cke_contents > .cke_wysiwyg_frame, .cke_contents > .cke_wysiwyg_div {
	background: #3F3F3F !important;
	color: $body-color !important;
}



h3.card-title {
	color: #9d9d9d;
	font-size: 24px;
}

.card-body {
	border: solid #292929;
	border-width: 0 8px .5rem 8px;
}

.card-primary .card-header { background: #292929; }

.navbar-fixed-top .container,
.navbar-dark,
.topbar,
.topbar .navbar-dark .navbar-nav > li,
.topbar .nav > li,
.btn,
.nav-tabs > li > a,
.input-group-addon {
	background: #818181; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818181), color-stop(100%, #393939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #818181 0%, #393939 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #818181 0%, #393939 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, #818181 0%, #393939 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818181', endColorstr='#393939', GradientType=0);
}

.top_modules .navbar-dark {
	background: transparent !important;
	border: none;
}

.btn.btn-link {background: none !important;}

.topbar {
	margin-bottom: 1.3rem;
}

#topbar_modules .navbar-dark {
	background: transparent;
	border: none;
	margin-bottom: 0;
}

#topbar_modules .form-group {
	margin-bottom: 0
}

.textarea-toolbar a.toolbar {
	background: none !important;
}

.nav > li > a {
	padding: .4rem 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
}

select {
	background: #292929
}

.cke_wysiwyg_frame, .cke_wysiwyg_div {
	background: #292929 !important;
	color: #ffffff !important;
}

.even {
	background: $table-bg-accent;
}

.odd,
#trig_dptxt {
	background: $table-bg;
	color: $primary;
}

input[type="checkbox"] {
	color: #ffffff !important;
	background: $table-bg;
}

input.reportBuilderInput,
.ui-datepicker {
	background: #292929;
}

textarea,
input {
	background: $input-bg;
	color: $input-color;
}

.jtrack-form {
	background: #292929 !important;
}

.box-quickadmin .cssmenu_horiz ul li {
	background-color: $body-bg;
}

#admin-navbar-collapse-1 {
	border: 8px solid #292929;
	border-bottom: none;
}

.cssmenu_horiz a,
.cssmenu_vert a {
	color: $link-color;
}

.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	padding: 0;
	margin: 2px 0 0; // override default ul
	//  font-size: $font-size-base;
	background-color: $dropdown-bg;
	border: 1px solid $dropdown-border-color;
	border-radius: $border-radius;
	@include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

	// Links within the dropdown menu
	> li > a {
		padding: 3px 20px;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		background: $dropdown-bg;
	}
}

// Hover/Focus state
.cssmenu_horiz > li > a,
.cssmenu_vert > li > a,
.cssmenu_horiz ul > li > a,
.cssmenu_vert ul > li > a {
	&:hover,
	&:focus {
		text-decoration: none;
		color: $dropdown-link-hover-color;
		background-color: $dropdown-link-hover-bg;
	}
}
