// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Kiwi theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// url('#{$imagePath}siteheader.png') no-repeat -1000px -200px;
$side-column-panel-heading-border-color: #cdbe23;
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #cdbe23;
// #638637;
$header_outer-background: #96a032;
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: #96a032;
//url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$topbar_container_background: $navbar-default-bg;
$header-color: #ffffff;
// #cdbe23;
$form-control-background: #f8f9d4;
$form-control-border-colors: #f5fb86 #fbfbee #fbfbee #f5fb86;
$footer-color: #ffffff;
// #696969;
$footer-border-color: #ebdc14;
$footer-link-color: darken(#ffffff, 10%);
// #a9a9a9;
$navbar-default-navbar-nav-li-a-background: $topbar_container_background;
// #e9db15; // #cdbe23;
$postbody-title-color: #ffffff;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
// $brand-primary-of-option:                   $brand-primary;

// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
