// $Id$
/* Adapted by the Tiki Community for Tiki Wiki CMS Groupware.
 Original Bootswatch information:
 */
/*! Original theme information:
 * bootswatch v3.3.6
 * Homepage: http://bootswatch.com
 * Copyright 2012-2015 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins.scss"; //
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/functions"; // These two are needed to prevent...
@import "_variables.scss"; // Needs to follow _functions.scss because of containing "lighten".
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";

@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

//.topbar {
//	.btn-shadow(@navbar-default-bg);
//	filter: none;
//	.box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
// }

.topbar .navbar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

//.topbar .navbar-default .navbar-nav > li > a,
//.topbar .navbar-default .navbar-nav > li,
//.topbar .nav > li { background: transparent;}

//.topbar .navbar-default .navbar-nav > li > a:hover,
//.topbar .nav > li:hover { background: $navbar-default-link-hover-bg;}
