// $Id$
/* Adapted by the Tiki Community for Tiki Wiki CMS Groupware.
 Original Bootswatch information:
 */
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins.scss"; //
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/functions"; // These two are needed to prevent...
@import "_variables.scss"; // Needs to follow _functions.scss because of containing "lighten".
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";

@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

// the Bootstrap variables.scss file with theme-specific values replacing the defaults

.cssmenu_horiz a { font-size: 12px; }

.nav.cssmenu_horiz > li > a {
	padding-top: 11px;
	padding-bottom: 11px;
}

body.fullscreen { background: $body-bg; }

//Theme variables aren't overriding default values for these.
body {
  color: #EBEBEB;
  background: #2B3E50;
}
