// $Id$
//Custom styles for the FiveAliveHS theme.

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #1174a5;
//$success: #48ca3b;
//$info: #4d3a7d;
//$warning: #debb27;
//$danger: #df6e1e;

$theme-colors: (
 	"primary":        	#1174a5 //,
// 	"secondary": 		#dddddd,
// 	"success":         	#5cb85c,
// 	"info":           	#5bc0de,
// 	"warning":         	#f0ad4e,
// 	"danger":          	#d9534f,
//	"light":			#ffffff,
// 	"dark":				#000000
);

// Options
// Spacing

// Body
//$body-color: $gray-800;

// Links
$link-hover-decoration: none;
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$font-family-sans-serif: Lato, sans-serif;
$headings-font-weight:    600;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-bg:                 #2098cd;
$btn-link-disabled-color:		 #777777;

// Forms
$input-color-placeholder: 		#777777;

// Dropdowns
$dropdown-bg:                    #1376a8;
$dropdown-link-color:            #fff;
$dropdown-link-hover-color:      darken(#fff, 5%);
$dropdown-link-hover-bg:         lighten($dropdown-bg, 10%);

// Navs
// Navbar
$navbar-height:     54px;
$navbar-dark-color: $gray-700;
$navbar-dark-bg: #043b5a;
$navbar-dark-border: none;
$bg-dark: $navbar-dark-bg;

// Navbarlinks ??
$navbar-dark-color:                #efefef;
$navbar-dark-hover-color:          #fff;
$navbar-dark-hover-bg:             #000; // transparent;

// Navbar toggle
$navbar-dark-toggle-hover-bg: #dddddd;
$navbar-dark-toggle-icon-bar-bg: #888888;
$navbar-dark-toggle-border-color: #dddddd;


// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
