// $Id$
// For theme overrides of jQuery-UI styles

.tiki {
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
		border: 1px solid $btn-default-border;
		background: $btn-default-bg;
		font-weight: $jq-ui-btn-font-weight;
		color: $btn-default-color;
		font-size: $font-size-base;
	}
	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
		border: 1px solid $btn-default-border;
		background: $btn-default-bg;
		font-weight: normal;
		color: $btn-default-color;
	}
	.ui-widget-header a { color: $link-color; }
}
