// $Id$
/* Adapted by the Tiki Community for Tiki Wiki CMS Groupware.
 Original Bootswatch information:
 */
/*! Original theme information:
 * bootswatch v3.3.6
 * Homepage: http://bootswatch.com
 * Copyright 2012-2015 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins.scss"; //
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/functions"; // These two are needed to prevent...
@import "_variables.scss"; // Needs to follow _functions.scss because of containing "lighten".
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";

@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

//.topbar { border: 1px solid $navbar-default-border; }
//.topbar .navbar-default { border: none; }
//body.fullscreen { background: $body-bg; }
