// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Watermelon theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #f1799d
$side-column-panel-heading-border-color: #c31e3b;
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #c31e3b;
// #661527;
$header_outer-background: #a51e37;
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$topbar_container_background: #e71e40;
$header-color: #ffffff;
$form-control-background: #f9dfe2;
$form-control-border-colors: #fb999e #f9f0f0 #f9f0f0 #fb999e;
$footer-color: #ffffff;
// #696969;
$footer-border-color: #eb1e41;
$footer-link-color: darken(#ffffff, 10%);
//#eb1e41;
$navbar-default-navbar-nav-li-a-background: #e71e40;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
// $brand-primary-of-option:                   $brand-primary;

// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
