/*  The Akebi theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */

.header_outer,
.layout_basic #top_modules,
.postbody-title {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a8794+0,169fb6+53,18a4bc+72,19a5bd+100 */
  background: #0a8794; /* Old browsers */
  background: -moz-linear-gradient(left,  #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0a8794 0%,#169fb6 53%,#18a4bc 72%,#19a5bd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0a8794 0%,#169fb6 53%,#18a4bc 72%,#19a5bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a8794', endColorstr='#19a5bd',GradientType=1 ); /* IE6-9 */
}

.middle_outer {
  -webkit-box-shadow: inset 0 54px 0 0 #063035;
  -moz-box-shadow: inset 0 54px 0 0 #063035;
  box-shadow: inset 0 54px 0 0 #063035;
}

.topbar,
.navbar-dark,
.topbar .navbar-dark .navbar-nav > li,
.topbar .nav > li {
  background: #063035;
  color: #333333;
}

.topbar .cssmenu_horiz ul { background: #063035; }

.navbar-nav > li.dropdown {
  border-bottom: 1px solid #18a3bb;
}

.topbar .navbar-nav > li.dropdown {
  border-bottom: none;
}

#page-header .dropdown-menu,
.topbar .cssmenu_horiz ul {
	background: #18a3bb;
}

a,
.btn-link {
  color: #0b8a98;
}
a:hover,
.btn-link:hover,
a:focus,
.btn-link:focus {
  color: #18a3bb;
}
.btn-primary {
  color: #ffffff;
  background-color: #18a3bb;
  border-color: #77d6e5;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #23a5b9;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #44c7db;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #44c7db;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0e606e;
  border-color: #23a5b9;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #18a3bb;
  border-color: #77d6e5;
}
.btn-primary .badge {
  color: #18a3bb;
  background-color: #ffffff;
}
.btn-secondary {
  color: #ffffff;
  background-color: #18a3bb;
  border-color: #77d6e5;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #23a5b9;
}
.btn-secondary:hover {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #44c7db;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #127c8e;
  border-color: #44c7db;
}
.btn-secondary:active:hover,
.btn-secondary.active:hover,
.open > .dropdown-toggle.btn-secondary:hover,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.open > .dropdown-toggle.btn-secondary:focus,
.btn-secondary:active.focus,
.btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary.focus {
  color: #ffffff;
  background-color: #0e606e;
  border-color: #23a5b9;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #18a3bb;
  border-color: #77d6e5;
}
.btn-secondary .badge {
  color: #18a3bb;
  background-color: #ffffff;
}
hr {
  border-top: 1px solid #18a3bb;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #1296a9;
}
.table > thead > tr > th {
  border-bottom: 2px solid #1296a9;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #1296a9;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #1296a9;
}
.table .table-bordered > thead > tr > th,
.table .table-bordered > tbody > tr > th,
.table .table-bordered > tfoot > tr > th,
.table .table-bordered > thead > tr > td,
.table .table-bordered > tbody > tr > td,
.table .table-bordered > tfoot > tr > td {
  border: 1px solid #1296a9;
}
.table .table-striped > tbody > tr:nth-child(odd) > td,
.table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td,
.table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.form-control {
  color: #555555;
  background-color: #ddf8f9;
  background-image: none;
  border: 1px solid #b4f3fb;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
  color: #f9f9f9;
  background-color: #14899e;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #063065;
}
.navbar-dark .navbar-nav > .disabled > a,
.navbar-dark .navbar-nav > .disabled > a:hover,
.navbar-dark .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form {
  border-color: transparent;
}
.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus {
  background-color: #14899e;
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-dark .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-dark .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #f9f9f9;
  background-color: #14899e;
}
.navbar-dark .navbar-nav .open .dropdown-menu > .active > a,
.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #14899e;
}
.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-dark .navbar-link {
  color: #ffffff;
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar-primary {
  background-color: #771e54;
  border-color: #4e1437;
}
.navbar-primary .navbar-brand {
  color: #eeeeee;
}
.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-primary .navbar-text {
  color: #eeeeee;
}
.navbar-primary .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0b4c58;
}
.navbar-primary .navbar-nav > .disabled > a,
.navbar-primary .navbar-nav > .disabled > a:hover,
.navbar-primary .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-primary .navbar-toggle {
  border-color: #333333;
}
.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-primary .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-primary .navbar-collapse,
.navbar-primary .navbar-form {
  border-color: #0d5865;
}
.dropdown-menu {
  background-color: #005064;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-menu > li > a,
.dropdown-menu .dropdown-title,
.dropdown-menu li label {
  color: #ffffff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #f2f2f2;
  background-color: #003c4a;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0b8a98;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  background-color: transparent;
  background-image: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0b8a98;
}
.pagination > li > a,
.pagination > li > span {
  color: #0b8a98;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #18a3bb;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #0b8a98;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.card {
  background-color: #ffffff;
}
.card-heading {
  border-bottom: 1px solid transparent;
}
.card-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.card-title {
  color: inherit;
}
.card-title > a {
  color: inherit;
}
.card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.card-primary {
  border-color: #dddddd;
}
.card-primary > .card-heading {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #dddddd;
}
.card-primary > .card-heading + .card-collapse > .card-body {
  border-top-color: #dddddd;
}
.card-primary > .card-heading .badge {
  color: #0b8a98;
  background-color: #ffffff;
}
.card-primary > .card-footer + .card-collapse > .card-body {
  border-bottom-color: #dddddd;
}
.card-secondary {
  border-color: #0b8a98;
}
.card-secondary > .card-heading {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #0b8a98;
}
.card-secondary > .card-heading + .card-collapse > .card-body {
  border-top-color: #0b8a98;
}
.card-secondary > .card-heading .badge {
  color: #0b8a98;
  background-color: #ffffff;
}
.card-secondary > .card-footer + .card-collapse > .card-body {
  border-bottom-color: #8e286a;
}
.card-success {
  border-color: #d6e9c6;
}
.card-success > .card-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.card-success > .card-heading + .card-collapse > .card-body {
  border-top-color: #d6e9c6;
}
.card-success > .card-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.card-success > .card-footer + .card-collapse > .card-body {
  border-bottom-color: #d6e9c6;
}
.card-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.card-info > .card-heading + .card-collapse > .card-body {
  border-top-color: #bce8f1;
}
.card-info > .card-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.card-info > .card-footer + .card-collapse > .card-body {
  border-bottom-color: #bce8f1;
}
.card-warning {
  border-color: #faebcc;
}
.card-warning > .card-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.card-warning > .card-heading + .card-collapse > .card-body {
  border-top-color: #faebcc;
}
.card-warning > .card-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.card-warning > .card-footer + .card-collapse > .card-body {
  border-bottom-color: #faebcc;
}
.card-danger {
  border-color: #ebccd1;
}
.card-danger > .card-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.card-danger > .card-heading + .card-collapse > .card-body {
  border-top-color: #ebccd1;
}
.card-danger > .card-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
.label {
  color: #ffffff;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #0b8a98;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #085f68;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a,
header.page-header a.btn-link {
  color: #ffffff !important;
}
.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
  background-color: #ddf8f9;
  border-color: #b4f3fb #ffffff #ffffff #b4f3fb;
}
.navbar-collapse {
  border: none;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
.footer_liner h3.panel-title {
  color: #ffffff;
  border-bottom: 1px dotted #19a5be;
}
.footer_liner legend,
.footer_liner a,
.footer_liner a:visited {
  color: #19a5be;
}
.footer_liner a.btn-secondary,
.footer_liner a.btn-secondary:visited {
  color: #f4f4f4;
}
.admin-navbar,
.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu li,
.navbar-dark .navbar-nav > li > a {
  background: #063035;
}
.navbar-dark .navbar-nav > li > a:hover {
  background: #1cb9d5;
}
.postbody-title .title > .card-title a.link,
								 .card-primary > .card-heading a {
  color: #ffffff;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle,
header.header .sitesubtitle {
  color: #0b8a98;
  text-shadow: none;
}
.searchresults blockquote em,
.highlight,
.btn-secondary.highlight a,
.btn-secondary a.highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.btn-secondary.highlight:hover {
  background: #dca7a7;
}
.cssmenu_horiz li ul,
.cssmenu_vert li ul {
  background-color: #005064;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cssmenu_horiz li ul > li > a,
.cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #ffffff;
  background: #005064;
}
.cssmenu_horiz > li > a:hover,
.cssmenu_vert > li > a:hover,
.cssmenu_horiz ul > li > a:hover,
.cssmenu_vert ul > li > a:hover,
.cssmenu_horiz > li > a:focus,
.cssmenu_vert > li > a:focus,
.cssmenu_horiz ul > li > a:focus,
.cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #005064;
}
.topbar .cssmenu_horiz li a:hover {
  background: #14899e;
}
.topbar .navbar-nav > li > a,
.topbar .navbar > li > a,
.topbar .cssmenu_horiz > li > a {
  color: #ffffff;
}
.sf-arrows .sf-with-ul:after {
  border: 5px solid transparent;
  border-top-color: #0b8a98;
}
.cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #0b8a98;
  /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows ul .sf-with-ul:after,
.cssmenu_vert.sf-arrows ul > li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #ffffff;
  /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #f2f2f2;
}
.cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
.cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
.cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #f2f2f2;
}
.chosen-container-multi .chosen-choices {
  background-color: #ffffff;
  color: #555555;
  border: 1px solid #b4f3fb;
}
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop,
.chosen-container-multi .chosen-choices .search-choice {
  background-color: #ddf8f9;
  color: #555555;
  border: 1px solid #b4f3fb;
}
.chosen-container-single .chosen-search input[type="text"] {
  background-color: #ddf8f9;
  border: 1px solid #b4f3fb;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #003c4a;
  color: #f2f2f2;
}
.autotoc > .nav {
  background: #005064;
}
.autotoc * {
  color: #ffffff;
}
.autotoc .nav > li > a:hover,
.autotoc .nav .nav > li > a:hover {
  color: #f2f2f2;
  background: #2e1f39;
}
#col2 .card-title,
#col3 .card-title,
a.flipmoduletitle,
#col2 .card-secondary > .card-header a,
#col3 .card-secondary > .card-header a {
  color: #169FB6;
}
