<div class='popover tour'>
	<div class='arrow'></div>
	<h3 class='popover-title'></h3>
	<div class='popover-content'></div>
	<div class='popover-navigation'>
		<div class='btn-group'>
			<button class='btn btn-sm btn-primary' data-role='prev'>« {tr}Prev{/tr}</button>
			<button class='btn btn-sm btn-primary' data-role='next'>{tr}Next{/tr} »</button>
		</div>
		<button class='btn btn-sm btn-primary' data-role='end'>{tr}End tour{/tr}</button>
	</div>
</div>
