// $Id$ This file contains relevant variables from the default bootstrap 3.3.0 variables.scss file.

@brand-primary: #0001A6;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;


@btn-default-bg: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-success-bg: @brand-success;
@btn-info-bg: @brand-info;
@btn-warning-bg: @brand-warning;
@btn-danger-bg: @brand-danger;

@panel-default-heading-bg: #cccccc;
