// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Lemon theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #ffc506 url('#{$imagePath}siteheader.png') no-repeat -1000px -200px
$side-column-panel-heading-border-color: #e4af00;
//#ffc506; // #cdbe23
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #e4af00;
// #C75A28
$header_outer-background: #e4af00;
//url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$topbar_container_background: #ffc506;
$header-color: #ffffff;
$form-control-background: #fdf1d0;
$form-control-border-colors: #fee194 #fdfae9 #fdfae9 #fee194;
$footer-color: #ffffff;
// #696969;
$footer-border-color: #ffc506;
$footer-link-color: darken(#fff, 10%);
// #19a5be;
$navbar-default-navbar-nav-li-a-background: #ffc506;
$postbody-title-color: #ffffff;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
// $brand-primary-of-option:                   $brand-primary;

// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}

.footer_liner a.btn-default,
.footer_liner a.btn-default:visited {
	color: #242424 !important;
}
