//
// Variables defined by functions, etc. or by Bootstrap defaults.
$link-color: lighten(theme-color("warning"), 15%);
$gray-500: lighten(#000000, 33.5%); //
$link-hover-color: $link-color; // This has to be here because #link-color is defined by bs default, not be amelia.
$body-bg: #108a93; // These work here, but not in amelia/bootstrap-variables, for some reason.
$body-color: #ffffff; // "
body.fullscreen { background: $body-bg; } // Moved here because it needs $body-bg

// Amelia 3.1.1
// Bootswatch
// -----------------------------------------------------

// Navbar =====================================================================

.navbar {

	&-brand {
		font-family: 'Lobster', cursive;
	}

	&-dark {
		.badge {
			background-color: #ffffff;
			color: $navbar-dark-color;
		}
	}
}

// Buttons ====================================================================

.btn {

	.caret {
		border-top-color: #ffffff;
	}
}

.btn-primary {

	&:hover {
		color: $btn-primary-color;
	}

	.caret {
		border-top-color: $btn-primary-color;
	}
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
	color: lighten( theme-color("primary"), 40% );
}

.text-success,
.text-success:hover {
	color: lighten( theme-color("success"), 20% );
}

.text-danger,
.text-danger:hover {
	color: lighten( theme-color("danger"), 20%);
}

.text-warning,
.text-warning:hover {
	color: lighten( theme-color("warning"), 20%);
}

.text-info,
.text-info:hover {
	color: lighten( theme-color("info"), 40%);
}

// Tables =====================================================================

.table-responsive > .table {
	background-color: $table-bg;
}

table,
.table {

	a {
		color: #ffffff;
		text-decoration: underline;
	}

	.text-muted {
		color: $text-muted;
	}
}

// Forms ======================================================================

input,
textarea {
	color: $input-color;
}

legend {
	font-family: 'Lobster', cursive;
	color: #ffffff;
}

.has-warning {
	.help-block,
	.control-label,
	.form-control-feedback {
		color: lighten( theme-color("warning"), 20%);
	}

	.form-control,
	.form-control:focus {
		border-color: lighten( theme-color("warning"), 20%);
	}
}

.has-error {
	.help-block,
	.control-label,
	.form-control-feedback {
		color: lighten( theme-color("primary"), 40%);
	}

	.form-control,
	.form-control:focus {
		border-color: lighten( theme-color("primary"), 40%);
	}
}

.has-success {
	.help-block,
	.control-label,
	.form-control-feedback {
		color: lighten( theme-color("success"), 20%);
	}

	.form-control,
	.form-control:focus {
		border-color: lighten(theme-color("success"), 20%);
	}
}

.input-group-addon {
	color: $btn-primary-color;
}

// Navs =======================================================================

.pagination {

	a:hover {
		color: #ffffff;
	}
}

.pager {

	a:hover {
		color: #ffffff;
	}
}

// Indicators =================================================================

.close {
	opacity: 0.4;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

// Progress bars ==============================================================

// Containers =================================================================

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: $thumbnail-border-color;
}

.popover {
	color: $gray-900;
}

.navbar-default .navbar-collapse.collapse.in .dropdown-menu li {background: transparent;}

.card {
  background-color: #13a0aa !important;
  border-color: #0d747c !important;

}

.card-header,
.modal-header {
  color: #ffffff;
  background-color: #18cbd8 !important;
  border-color: #0d747c !important;
}

h3.card-title,
h3.card-header {

}
