// $Id$
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins.scss"; //
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/functions"; // These two are needed to prevent...
@import "_variables.scss"; // Needs to follow _functions.scss because of containing "lighten".
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "_bootswatch.scss";

@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";

.cssmenu_vert,
.cssmenu_horiz {
	font-size: 18px;
	font-family: $font-family-sans-serif;
	font-weight: $headings-font-weight;
}

.cssmenu_vert li ul,
.cssmenu_horiz li ul { font-size: 15px; }
