/* Didiem theme newsletter stylesheet  */
.margin-bottom-xs {
  margin-bottom: 0.375rem; }

.margin-bottom-sm {
  margin-bottom: 1rem; }

.margin-bottom-md {
  margin-bottom: 1.5rem; }

.margin-bottom-lg {
  margin-bottom: 3rem; }
/* Todo - button variables are simpler in BS4 - need to figure it out
 //  Admin
 $admbox-border: $btn-primary-border; //#cccccc;
 $admbox-bg: $btn-primary-bg; // #cccccc;
 $admbox-color: $btn-primary-color; // #333333;
 $admbox-hover-border: lighten($btn-primary-border, 5%); // #333333;
 $admbox-hover-bg: lighten($btn-primary-bg, 5%); // #aaaaaa;
 $admbox-hover-color: lighten($btn-primary-color, 5%); //#ffffff;
 $admbox-off-border: darken($btn-primary-border, 40%); //#a9a9a9;
 $admbox-off-color: darken($btn-primary-color, 40%); //#9f9f9f;
 $admbox-off-hover-border: darken($btn-primary-border, 40%); //#a9a9a9;
 $admbox-off-hover-color: darken($btn-primary-color, 40%); //#666666;
 */
body {
  background: #fff;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 15px; }

a, a:visited {
  color: #007bff;
  text-decoration: underline; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit; }

.panel {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.panel-heading {
  border-bottom: 1px solid transparent; }

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit; }
  .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: inherit; }
/*.panel-default {
 .panel-variant($panel-default-border; $panel-default-text; $panel-default-heading-bg; $panel-default-border);
 }
 .panel-primary {
 .panel-variant($panel-primary-border; $panel-primary-text; $panel-primary-heading-bg; $panel-primary-border);
 }
 .panel-success {
 .panel-variant($panel-success-border; $panel-success-text; $panel-success-heading-bg; $panel-success-border);
 }
 .panel-info {
 .panel-variant($panel-info-border; $panel-info-text; $panel-info-heading-bg; $panel-info-border);
 }
 .panel-warning {
 .panel-variant($panel-warning-border; $panel-warning-text; $panel-warning-heading-bg; $panel-warning-border);
 }
 .panel-danger {
 .panel-variant($panel-danger-border; $panel-danger-text; $panel-danger-heading-bg; $panel-danger-border);
 }
 */
#col2 .card, #col3 .card, #bottom_modules .card {
  border: none; }

#col2 .card-heading, #col3 .card-heading, #bottom_modules .card-heading {
  background: #f2f2f2;
  border-bottom: none; }

.header_outer {
  /* whole width div containing the header strip */
  background: transparent; }

.header_container > .header {
  /* inner <header> element that gets .fixedwidth class applied */
  background: transparent; }

header.header .module.secondary_site_menu {
  background: none; }

.middle_outer {
  background: url("../images/topbar.jpg") repeat-x; }

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="file"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  background-color: #fff;
  border-color: #e0e0e0; }

.navbar-collapse {
  border: none; }

#footer {
  background: #ebebeb;
  color: #696969;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer_liner {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li, .navbar-default .navbar-nav > li > a {
  background: #eee; }

.navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu li {
  background: #aaa; }

.topbar .navbar-default .navbar-nav > li a:hover, .topbar .nav > li:hover, .topbar .cssmenu_horiz li:hover, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, li.selected > a {
  background: linear-gradient(to bottom, #93c44f 0%, #6d9f26 100%);
  color: #fff; }

.postbody-title {
  background: #f0f0f0; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #fff; }

header.header .sitetitle, header.header .sitesubtitle {
  color: #007bff;
  text-shadow: none; }

h1 {
  font-size: 1.6em;
  background: url("../images/h_bullet.jpg") no-repeat 0 50%;
  padding-left: 19px; }

h2 {
  font-size: 1.6em;
  background: url("../images/h_bullet.jpg") no-repeat 0 50%;
  padding-left: 19px; }

h1.sitetitle {
  background: none; }

h2.sitesubtitle {
  background: none; }

.btn-default, input[type="reset"], input[type="submit"], .button input {
  background: linear-gradient(to bottom, #a1bb87 0%, #8fa872 50%, #a1bb87 100%);
  text-transform: uppercase;
  border-width: 2px; }

.btn-default:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button input:hover {
  background: linear-gradient(to bottom, #8fa872 50%, #8fa872 50%, #a1bb87 100%); }

.btn.btn-link, .btn-link:hover, input[type="submit"].btn-link {
  background: none; }

.topbar {
  margin-bottom: 20px; }
  .topbar .card-heading, .topbar .navbar-default .navbar-collapse, .topbar .navbar-default .navbar-form {
    background: none;
    border-width: 0; }
  .topbar .navbar {
    border: none; }
  .topbar .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px; }
