// $Id$
/* Shamrock theme newsletter stylesheet */
@import url('//fonts.googleapis.com/css?family=Marcellus');
@import "../../base_files/scss/newsletter.scss";
@import "_bootstrap-variables.scss";

$font-family-sans-serif:  "Marcellus", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          15px;

h1::before {
	content: "\2663";
	margin-right: 10px;
}
