// $Id$ tiki-custom-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Plum theme option values are used by styles/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #cb65fe;
$side-column-panel-title-color: #49006c;
// #35004f;
$side-column-panel-heading-border-color: #49006c;
$side-column-panel-heading-border-width: 0 0 1px 0;
$header_outer-background: #49006c;
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.jpg') -248px 0 no-repeat;
$topbar_container_background: #15001f;
$header-color: #ffffff;
$form-control-background: #f4e1ff;
$form-control-border-colors: #db9fff #f9f0ff #f9f0ff #db9fff;
$footer-color: #ffffff;
// #696969;
$footer-border-color: #7a04b5;
$footer-link-color: darken(#ffffff, 10%);
// #19a5be;
$navbar-default-navbar-nav-li-a-background: #15001f;
$postbody-title-background: url('#{$imagePath}siteheader.jpg') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;
// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
